//- normalize file to reset css
link(rel="stylesheet" href="css/normalize.css")
//- font awesome css file
link(rel="stylesheet" href="css/all.min.css")
//- roboto font from google font 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&family=Work+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
//- main style for website
link(rel="stylesheet" href="css/all.css")