header
  div(class="overlay")
    .container 
      div(class="plan")
        div(class="content t-center")
          h1 Choose Your Plan
          div(class="para flex")
            p(class="trans") Free Plan Contain 10GB
            p(class="trans") $10 Plan Contain 50GB
          button(class="t-center trans"): a(class="a-reset t-white" href="#") Order Now and Get Another Plan For Free
